bin/
out/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
#JAVA BINARY Files
*.class

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

out/production/ZumoBlueTooth/com/example/ZumoBlueTooth/ZumoBlueTooth$1.class
out/production/ZumoBlueTooth/com/example/ZumoBlueTooth/ZumoBlueTooth$1.class
out/production/ZumoBlueTooth/com/example/ZumoBlueTooth/ZumoBlueTooth.class
out/production/ZumoBlueTooth/ZumoBlueTooth.apk